.logo{
 width :10rem;
 height: 5rem;

}

body {
    background-color: black;

}

.cardStyle {
    width: 18rem;
    height: 20rem;
    margin: 1rem auto;
    padding: 1rem;
}
.img-thumbnail{
    width: 10rem;
    height: 10rem;
}
