.logo {
    width: 10rem;
    height: 5rem;

}

body {
    background-color: black;

}

.cardStyle {
    background-color: black;
    color: white;
    border: 2px solid red;
    height: 25rem;
    margin: 1rem auto;
    padding: 1rem;
}

.img-thumbnail {
    width: 10rem;
    height: 10rem;
}

